eureka:
  instance:
    hostname: localhost
  client:
    serviceUrl:
      defaultZone: https://${eureka.instance.hostname}:${server.port}/eureka/

spring:
  cloud:
    config:
      override-system-properties: false
